<div class="clr-row">

  <div class="clr-col-12 clr-col-md-6">
    <a class="card clickable">
      <div class="card-block">
        <div class="card-title centre">
          <clr-icon shape="clock" size=96 class="is-success"></clr-icon>
        </div>
        <div class="card-text centre">
          <p>Find the recording from a certain hour</p>
        </div>
      </div>
    </a>
  </div>

  <div class="clr-col-12 clr-col-md-6">
    <a class="card clickable">
      <div class="card-block">
        <div class="card-title centre">
          <clr-icon shape="search" size=96 class="is-info"></clr-icon>
        </div>
        <div class="card-text centre">
          <p>Look for a specific time range</p>
        </div>
      </div>
    </a>
  </div>

  <div class="clr-col-12 clr-col-md-12">
    <div class="centre">
      <p><em>Or</em></p>
    </div>
  </div>

  <div class="clr-col-12 clr-col-md-12">
    <a class="card clickable">
      <!-- <div class="card-image hero-card">
        <clr-icon shape="view-list"></clr-icon>
      </div> -->
      <div class="card-block">
        <div class="card-text centre">
          <span>View entire transmission timeline</span>
        </div>
      </div>
    </a>
  </div>

</div>